body {
  background-color: #bababa;
}
ul.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7e7e7e;
}

ul.navi li .droite {
  float: left;
}

ul.navi li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navi li a:hover:not(.active) {
  background-color: #010b40;
}

ul.navi li a.active {
  background-color: #c8d400;
}

ul.navi li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.aimage {
  height: 100%;
}
.apropos {
  float: right;
}
.titre {
  text-align: center;
  color: #52555d;
}
#wrapper {
  width: 100%;
  margin: 0 auto 0 auto;
}

.atitre {
  font-family: 'Oswald', sans-serif;
}
p.article {
  color: #ffffff;
}
#main {
  float: left;
  width: 75%;
  margin: 0 0 50px 0;
}

#sidebar {
  float: left;
  width: 22%;
  margin-left: 1%;
  margin-top: 1em;
}
.imgi {
  vertical-align: middle;
}
.imge {
  vertical-align: middle;
}
.apropos {
  text-align: ri;
}
footer {
  clear: both;
}

nav ul li {
  display: inline-block;
}

article {
  border: 1px dashed #a1a4a6;
  margin: 1em;
  padding: 1em;
  background: #a1a4a6;
}

article h2 {
  margin-top: 1em;
}

article header,
article footer {
  border: 1px dashed #ccc;
  padding: 1em;
  background: #c5ced9;
}

article aside {
  background: #c5ced9;
  margin: 1em 3em;
  padding: 0.5em;
  border: 1px dashed #ccc; /* ? est ce que je laissa la bordure ? */
}
.sante a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.sante a:visited {
  color: darkgrey;
  background-color: transparent;
  text-decoration: none;
}
.sante a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}
/* Marquage spécifique */

article,
footer,
header,
aside,
nav {
  position: relative;
}

span.elem {
  background: #c00;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5em;
  z-index: 100;
  opacity: 0.5;
}
.copyright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7e7e7e;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
  font-family: 'Mukta', sans-serif;
}
